/* =========================================================
   NAVIGATION
   ========================================================= */

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;

    background: var(--orange);
    border-bottom: 2px solid var(--white);
}

.navbar {
    max-width: 1500px;
    margin: auto;

    padding: 20px 6%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--white);
    font-size: 20px;
    font-weight: 900;
    letter-spacing: -.5px;
}

.logo span {
    color: var(--white);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;

    list-style: none;
}

.nav-links a {
    color: var(--white);

    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;

    transition: opacity .2s ease;
}

.nav-links a:hover,
.nav-links a.active {
    color: var(--white);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.menu-toggle {
    display: none;

    background: transparent;
    border: 0;

    color: var(--white);
    font-size: 25px;

    cursor: pointer;
}