/* =========================================================
   KHUSHI KUNJOOR PORTFOLIO
   COLOR VARIABLES
   ========================================================= */

:root {
    --green: #547263;
    --orange: #C95B0C;
    --white: #FFFFFF;

    --font-main: "Be Vietnam Pro", sans-serif;
}